.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  text-shadow: 0 0 10px #fff;
  width: 100%;
}
